


/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

    * {
      font-family: Helvetica, Arial, sans-serif;
      border: dashed 1px red;
    }

    .light {
      --primary-color: #302AE6;
      --secondary-color: #536390;
      --font-color: #424242;
      --bg-color: #fff;
      --heading-color: #292922;
      --btn-background-color: #6864e2;
      --btn-color: #e3e3e9;
    }
    
    .dark {
      --primary-color: #9A97F3;
      --secondary-color: #818cab;
      --font-color: #e1e1ff;
      --bg-color: #161625;
      --heading-color: #818cab;
      --btn-background-color: #c2c1de;
      --btn-color: #3f3fdd;
    }

    * {
      background-color: var(--bg-color);
      color: var(--font-color);
    }

    header {
      display: flex;
      justify-content:space-between;
      align-items: center;
      padding:2%;
    }
    header section #theme-toggle {
      font-size: 1.5rem;
    }

  header h1 {
    font-size: 5vh;
  }

  main {
    display: flex;
    flex-direction: column;
  }

  main section {
    display: flex;
    align-items: center;
    justify-content: center;
    
    
  }

  main section img {
    width:80%;
  }

  main form {
    display: flex;
    flex-direction: column;
    flex-basis:80%;
  }

  form section {
    align-items: center;
    
  }

  form label{
    display: flex;
    align-items: baseline;
    flex-direction: column;
    justify-content:space-around;
    padding: 5% 2% 1%;
    font-weight: bold;
  }

  input {
    flex-basis: 20%;
  }

  input, textarea {
    padding:3%;
    border-radius: 10px;
    border: solid var(--secondary-color) 0.5px;
    box-shadow: none;
    color: var(--font-color);
    background-color: var(--bg-color);
  }

  input[type=submit] {
    font-weight: bold;
    margin: 10% 3%;
    padding: 4% 20%;
    color: var(--btn-color);
    background-color: var(--btn-background-color);
  }

  textarea {
    width:100%;
    
  }
 
  

  

  header section:last-child {

  }

  #theme-toggle {
    font-size: 3rem;
    cursor: pointer;
  }

  @media all and (min-width: 1024px) and (max-width: 2280px) { 
    main {
      flex-direction: row;
    }
    main section {
      width:49%;
    }
  }

@media all and (min-width: 640px) and (max-width: 1024px) { 
  main {
    flex-direction: row;
  }
  main section {
    width:90%;
  }
}

@media all and (min-width: 480px) and (max-width: 640px) { 
    
    
}

@media all and (max-width: 480px) { 
  
  
}