form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

form section {
  align-items: center;
  
}

form label{
  display: flex;
  align-items: baseline;
  flex-direction: column;
  justify-content:space-around;
  padding: 5% 2% 1%;
  font-weight: bold;
}

input {
  flex-basis: 20%;
}

input, textarea {
  padding:3%;
  border-radius: 10px;
  border: solid var(--secondary-color) 0.5px;
  box-shadow: none;
  color: var(--font-color);
  background-color: var(--bg-color);
}

input[type=submit] {
  font-weight: bold;
  margin: 10% 3%;
  padding: 4% 20%;
  color: var(--btn-color);
  background-color: var(--btn-background-color);
}

textarea {
  width:100%;
  
}
